@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --primary-color: #0A2463;
    --secondary-color: #3E92CC;
    --tertiary-color: #FFFAFF;
    --quaternary-color: #D8315B;
    --contrast-color: #1E1B18;
}

html,
body {
    font-family: 'Ubuntu', sans-serif !important;
}

.navbar {
    background: var(--primary-color) !important;
    margin-bottom: 1rem;
}

.navbar-brand {
    color: var(--tertiary-color) !important;
}

.navbar-collapse {
    align-items: flex-start;
}

.navbar .nav-link {
    color: var(--tertiary-color) !important;
    padding: .5rem 0;
    position: relative;
}

.navbar .nav-link::before {
    background: var(--tertiary-color);
    bottom: 4px;
    content: ' ';
    height: 2px;
    left: 0;
    position: absolute;
    transition: width 200ms linear;
    width: 100%;
}

.navbar .nav-link.active::before {
    width: 100%;
}

.cv__name {
    font-size: 2rem;
    line-height: 2rem;
}

.cv__profession {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.cv__label {
    background: var(--contrast-color);
    color: var(--tertiary-color);
    display: inline-block;
    margin-bottom: .1rem;
    padding: .3rem;
    text-transform: uppercase;
}

.cv__label--icon {
    align-items: center;
    display: inline-flex;
    height: 2rem;
    margin-right: .5rem;
    justify-content: center;
    width: 2rem;
}

.cv__info {
    align-items: center;
    display: flex;
    margin-bottom: .1rem;
}

@media screen and (min-width: 768px) {
    .navbar .nav-link {
        margin-right: .75rem;
    }

    .navbar .nav-link::before {
        width: 0;
    }

    .navbar .nav-link:hover::before {
        width: 100%;
    }
}